/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

body{
    font-family:"Poppins" ;
}

/* ***************************** */
/* Header Style Start */
header{
    background: #EEEDDE;
    padding-top: 57px;
    padding-bottom: 120px;
}
header .navbar-spaces{
    display: flex;
    justify-content: space-between;
}
header li{margin-left: 6rem;
}
header .search-banner{
display: flex;
} 
.search-input{
    padding-left: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 100px;
    border-radius: 15px;
    border: none;
    margin-right: 15px;
}
.banner .search-input:focus{
    outline: none;
}
.banner button{
    border: none;
    padding:23px 41px;
    border-radius: 15px;
background: #FFF;
}