/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

body{
    font-family:"Poppins" ;
}

/* ***************************** */
/* Header Style Start */
header{
    background: #EEEDDE;
    padding-top: 57px;
    padding-bottom: 120px;
}
header .navbar-spaces{
    display: flex;
    justify-content: space-between;
}
header li{margin-left: 6rem;
}
header .search-banner{
display: flex;
} 
.search-input{
    padding-left: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 100px;
    border-radius: 15px;
    border: none;
    margin-right: 15px;
}
.banner .search-input:focus{
    outline: none;
}
.banner button{
    border: none;
    padding:23px 41px;
    border-radius: 15px;
background: #FFF;
}
header ul li a:hover {
    font-weight: 700;
}


/* Property Section Styles */
.property {
    margin-top: 100px;
    margin-bottom: 100px;
}
.property .col-lg-12 h2 {
    color: #203239;

/* h1 */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 54px */
width: 533px;
margin-bottom: 62px;
}
.property .cards{
    padding: 20px 33px;
    line-height: 30px; /* 187.5% */
    border-radius: 10px;
border: 1px solid #EEEDDE;
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00);
}
.property .col-lg-4 h4{
    color: #203239;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 8px;
}
.property .col-lg-4 p{
    color: rgba(32, 50, 57, 0.55);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 187.5% */
    margin-bottom: 50px;
}
.property .col-lg-4 button{
    color: #203239;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border:none;
background: none;
}

/* Resident Section */
.resident{
    background: #EEEDDE;
    padding-top: 68px;
    padding-bottom: 168px;
}

.house-img{
    position: relative;
    display: flex;
}
.stair-images{
    position: absolute;
    top: 60px;
    left: 167px;
    
}

.resident .col-lg-12 h6 {
    color: #FF7527;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
    margin-bottom: 8px;
}
.resident .col-lg-12 h3 {
    color: #203239;

/* h1 */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 54px */ 
margin-bottom: 64px;
}
.resident .col-lg-6 h2{
    color: #203239;

/* h1 */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 54px */
}
.resident .col-lg-6 p{
    color: #203239;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 187.5% */
    margin-top: 24px;
    margin-bottom: 48px;
    text-align: left;

}
.resident .col-lg-6 button{
    color: #203239;

/* Text1 Bold */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
    border-radius: 10px;
    border: 1px solid #203239;
padding: 13px 41px;
margin-right: 48px;
background: #EEEDDE;
}
